<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A feast of recipes made and shared by your friends and family">
	<title>Le Festin - Create your recipe</title>
	{% load staticfiles %}
    <script src="{% static 'lefestin/js/jquery.js' %}"></script>
    <script src="{% static 'lefestin/js/Bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lefestin/css/bootstrap.css' %}">
    <script src="{% static 'lefestin/js/jqueryui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lefestin/css/jqueryui.css' %}">
    <script src="{% static 'lefestin/js/create_recipe.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'lefestin/css/create_recipe.css' %}"> -->
</head>
<body>
<nav class="navbar navbar-inverse radius">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'lefestin/pics/le_festin_white.png'%}" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{%url 'index'%}">Home</a></li>
        <li><a href="{%url 'showgroups'%}">Groups</a></li>
        <li><a href="{%url 'showrecipes'%}">Recipes</a></li>
      </ul>
      <form action="{% url 'search_group' %}" method="post" class="navbar-form navbar-left">
      {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search group" name="search_group">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{request.session.fname}}</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- nav bar -->
	<div class="container-fluid">
		<h3>Create your recipe</h3>
		<form action="{% url 'create_recipe_process' %}" method="post" id="create_recipe_f" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="recipeName">Recipe name:</label>
			<input type="text" class="form-control" id="recipeName" name="recipeName">
		</div>
		<div class="form-group">
	    <label>Upload product picture</label>
	    {{ form }}
	  	</div>
		<div class="form-group">
			<label for="ingredient">Ingredients needed: </label>
			<div id="ingredient">
				<input type="text" class="form-control" placeholder="Quantity" name="quantity">
				<input type="text" class="form-control" placeholder="Ingredient name" name="igdName">
				<span class="btn btn-default btn-sm" id="addIgdBtn" disabled>Add this</span>
			</div>
		</div>

		<div id="igdDisplay"></div>

		<div class="form-group" id="step">
			<h4>Add step</h4>
			<div id="stepContent">
				<textarea name="direction"></textarea><br>
		    <div class="btn btn-default btn-sm" id="saveStep" disabled>Save</div>
			</div>
		</div>
		<div id="stepDisplay"></div>

		<button class="btn btn-primary" id="submitRecipe" disabled>Submit your recipe</button>
		</form>
	</div>
</body>
</html>
