<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A feast of recipes made and shared by your friends and family">
	<title>Le Festin - Registration</title>
	{% load staticfiles %}
    <script src="{% static 'lefestin/js/jquery.js' %}"></script>
    <script src="{% static 'lefestin/js/Bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lefestin/css/bootstrap.css' %}">
    <script src="{% static 'lefestin/js/jqueryui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lefestin/css/jqueryui.css' %}">
	<link rel="stylesheet" href="{% static 'lefestin/css/login.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse radius">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'index'%}"><img src="{% static 'lefestin/pics/le_festin_white.png' %}" alt="logo"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="bg"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-5">
				{% if messages %}
				<ul class="list-group">
					<li class="list-group-item list-group-item-danger">ATTENTION REQUIRED</li>
					{% for message in messages %}
					<li class="list-group-item list-group-item-danger">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				<div id="registration_logo"><img src="{% static 'lefestin/pics/le_festin_white.png' %}" /></div>
				<div id="registration_div">
				<h2 id="registration_heading">Register</h2>
				<form action="{% url 'registration' %}" method="POST" class="form-horizontal">
					{% csrf_token %}
					<div class="form-group">
					<div class="col-sm-12">
					<input type="text" name="first_name" class="form-control" placeholder="First Name">
					</div>
					</div>
					<div class="form-group">
					<div class="col-sm-12">
					<input type="text" name="last_name" class="form-control" placeholder="Last Name">
					</div>
					</div>
					<div class="form-group">
	                <div class="col-sm-12">
	                <input type="text" name="email" class="form-control" placeholder="Email">
	                </div>
	                </div>
					<div class="form-group">
					<div class="col-sm-12">
					<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					</div>
					<div class="form-group">
					<div class="col-sm-12">
					<input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
					</div>
					</div>
					<div class="form-group">
					<div class="col-sm-12">
					<input type="text" name="city" class="form-control" placeholder="City">
					</div>
					</div>
					<div class="form-group">
					<div class="col-sm-12">
					<select name="state" class="form-control">
						<option selected="true" disabled="disabled">Select State</option>
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AZ">AZ</option>
						<option value="AR">AR</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DE">DE</option>
						<option value="DC">DC</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="IA">IA</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="ME">ME</option>
						<option value="MD">MD</option>
						<option value="MA">MA</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MS">MS</option>
						<option value="MO">MO</option>
						<option value="MT">MT</option>
						<option value="NE">NE</option>
						<option value="NV">NV</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NY">NY</option>
						<option value="NC">NC</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WV">WV</option>
						<option value="WI">WI</option>
						<option value="WY">WY</option>
					</select>
				</div>
				</div>
					<input class="btn btn-default" id="register_submit_btn" type="submit" value="Register">

				</form>
				<p id="login_here">Already a member? <a href="{% url 'index' %}">Login here.</a></p>
			</div>
			</div>
			<div class="col-xs-4"></div>
		</div>
	</div>
</body>
</html>