<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A feast of recipes made and shared by your friends and family">
	<title>Le Festin - Create your recipe</title>
	{% load staticfiles %}
    <script src="{% static 'lefestin/js/jquery.js' %}"></script>
    <script src="{% static 'lefestin/js/Bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lefestin/css/bootstrap.css' %}">
    <script src="{% static 'lefestin/js/jqueryui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lefestin/css/jqueryui.css' %}">
    <script src="{% static 'lefestin/js/show_recipe.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'lefestin/css/create_recipe.css' %}"> -->
</head>
<body>
	<div class="container-fluid latest_recipe">
		<p>{{ recipe.name }}</p>
		<p>creator: {{recipe.user.first_name}}</p>
		<img src="{{recipe.product_pic.url}}" alt="{{recipe.product_pic.url}}">
		{% for ingredient in ingredients %}
		<p>{{ingredient.name}}</p>
		<p>{{ingredient.quantity}}</p>
		{% endfor %}
		{% for step in steps %}
		<p>{{step.step_num}}</p>
		<p>{{step.direction}}</p>
		{% endfor %}
	</div>
	<div class="container-fluid other_recipes">
		<h3>Other recipes you created:</h3>
		{% if otherRecipes %}
		{% endif %}
	</div>
</body>
</html>