.this_recipe {
	width: 70%;
	text-align: center;
	margin-bottom: 5%
}
.this_recipe h2 {
	font-weight: bold;
	color: #FFF;
	line-height: 40px;
	background: linear-gradient(90deg, rgba(19, 90, 122, .3), rgba(19, 90, 122, .8), rgba(19, 90, 122, .3));
}
.recipe_img {
	width: 80%;
	display: inline-block;
	margin: 3% auto;
}
table {
	width: 60%;
	margin: 2% auto;
}
table th, td {
	text-align: center;
}
.this_recipe h4 {
	font-weight: bold;
	color: #FFF;
	line-height: 30px;
	background: linear-gradient(90deg, rgba(19, 90, 122, .3), rgba(19, 90, 122, .8), rgba(19, 90, 122, .3));
}